* {
  padding: 0;
  margin: 0;
}

:root {
  --primary--color: rgba(148, 3, 3, 0.315);
  --secondary--color: rgba(148, 3, 3, 0.753);
  --tertiary--color: #ff0000;
}
/* Nav--Bar */
.NavBar {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-around;
}

.NavBar .cont--1 {
  display: flex;
}

.cont--1 img {
  width: 50px;
  height: 50px;
}

.cont--1 h2 {
  font-weight: 500;
  margin-top: 15px;
  margin-left: 10px;
}

.NavBar .cont--2 ul {
  display: flex;
}

.NavBar .cont--2 ul .Links,
.cont--2 a {
  text-decoration: none;
  list-style: none;
  color: #000;
  margin-left: 20px;
  font-weight: 500;
}

.cont--2 a:hover,
.cont--2 a:active {
  border-bottom: 2px solid var(--secondary--color);
  padding-bottom: 5px;
}

.NavBar .cont--3 {
  display: flex;
}

.cont--3 .btn--login {
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 1rem;
  border: 1.5px solid var(--primary--color);
  background-color: #fff;
  margin-right: 20px;
  font-weight: 550;
  opacity: 0.7;
}

.cont--3 .btn--login:active {
  background-color: #f3f3f3;
}

.cart--icon--counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  background-color: red;
  color: #fff;
  margin-left: -12px;
  margin-top: -10px;
}

.cont--3 .cheveron--icon {
  display: none;
}

@media screen and (max-width: 750px ) {
  .NavBar {
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: 50% 0 0 100%;
    align-items: center;
    justify-content: end;
    align-content: space-between;
    justify-items: center;
  }

  .NavBar .cont--2 {
    display: flex;
    grid-row: 4/-1 ;

  }

  .cont--3 .cheveron--icon {
    display: flex;
    margin-left: 15px;
  }
}



/* 'Hero Portion */
.Hero--Component {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  grid-template-rows: repeat(1,70vh
  );
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
  background: linear-gradient(180deg, #fde1ff,#e1ffea22 60%);
}


.Hero--Component .cont--1 {
  display: flex;
  flex-direction: column;
}

.Hero--Component .cont--2 img {
  width: 500px;
  height: 500px;
  filter: drop-shadow(10px 10px 20px #000);
}

.Hero--Component .cont--1 h1 {
  font-size: 3rem;
  font-weight: 500;
}

.Hero--Component .cont--1 p {
  font-size: 1.6rem;
  opacity: 999;
}

.Hero--Component .cont--1 .btn {
  width: 200px;
  margin-top: 20px;
  padding: 10px 20px ;
  background-color: var(--tertiary--color);
  border-radius: 18px;
  border: none;
  color: #fff;
}


@media screen and (max-width: 850px) {
  .Hero--Component {
    grid-template-rows: 22vw, 50vw;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: start;
  }

  .Hero--Component .cont--2 img {
    width: 300px;
    height: 300px;
  }

}



/* popular page */
.Popular--page {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding-top: 50px;
  align-items: center;
}

.Popular--page .popular--cont {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.popular--child--cont {
  box-sizing: border-box;
  width: 15vw;
  height: 41vh;
  margin-left: 20px;

}

.popular--child--cont img {
  width: 15vw;
}

.popular--child--cont strong {
  opacity: 0.3;
  text-decoration: line-through;
}

.popular--child--cont .active {
  opacity: 1;
  margin-right: 10px;
  text-decoration: none;
}

.Banner {
  margin: 100px 80px 20px 80px;
  box-sizing: border-box;
  padding: 0;
}

.Banner .cont--2 img {
  width: 400px;
  height: 400px;
}

.Banner .cont--2 {
  padding: 0;
}

@media screen and (max-width: 800px)  {
  .Popular--page .popular--cont {
    flex-direction: column;
  }

  .popular--child--cont {
    margin: 0 0 50px 0;
    width: 35vw;
    height: 50vh;
  }

  .popular--child--cont img {
    width: 35vw;
    height: 40vh;
  }
  .Banner {
    margin: 15px 0 0 0;
    padding: 0;
  }

  .Banner .cont--2 img {
    width:300px;
    height: 300px;
  }
}